<div class="location-container">

    <div class="location-info">
        <table>
            <tr>
                <td>Place ID:</td>
                <td>{{ tweet.place.id }}</td>
            </tr>
            <tr>
                <td>Full name:</td>
                <td>{{ tweet.place.full_name }}</td>
            </tr>
            {% if tweet.place.type %}
            <tr>
                <td>Type:</td>
                <td>{{ tweet.place.type }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>Country:</td>
                <td>{{ tweet.place.country }}</td>
            </tr>
        </table>
    </div>
    <div class="location-search">
        <div class="location-title">Search</div>



        <div class="services-list">
            <ul>

                <li><strong><a href="#" rel="noreferrer" title="⚠ Your browser may block tabs, check for prompts" onclick="
{% for service in services.from_place %}
{% if service.countries[0] == "all" or tweet.place.country_code in service.countries %}
window.open('{{ service.link.format(search=tweet.place.full_name, place_id=tweet.place.id) }}');
{% endif %}
{% endfor %}
">All</a></strong></li>

                {% for service in services.from_place %}
                {% if service.countries[0] == "all" or tweet.place.country_code in service.countries %}
                <li><a target="_blank" rel="noreferrer" href="{{ service.link.format(search=tweet.place.full_name, place_id=tweet.place.id) }}" title="{{ service.name }}">
                        <div class="service-logo {{ service.logo_css_class }}"></div>
                    </a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

</div>
